<div>
<h2>Available drones</h2>


{{#each drones}}

<div id="drones"></div>
<h3 id="name">{{this.name}}</h3>
<h3>Propellers: {{this.propellers}}</h3>
<h3>Speed: {{this.maxSpeed}}</h3>

<a href="/drones/{{this._id}}/edit">
    <button id="edit">Editar</button>

<form action="/drones/{{this._id}}/delete" method="post">
    <button id="delete">Eliminar</button>
</form>

</form>

</a>
</div>
{{/each}}







</div>

